html,
body {
    height: 100%;
    font-family: serif;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;

}
.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: content-box;
    width: auto;
}
@media screen and (max-width: 960px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 640px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 320px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/*     background-color: #bfe0ff; */
    background: url(../img/bg_steps.svg) no-repeat center / cover;
    align-items: stretch;
    justify-content: center;
}
.header {
    flex: 70px 0 0;
    position: relative;
    z-index: 100;
}
.header:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.5;
    z-index: -1;
}
.header__logo {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__logo p {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
}
.main {
    flex: auto 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}
.main__title {
    margin-top: -20%;
    text-align: center;
}
.main__subtitle {
    text-align: center;
    margin-top: 30px;
}
.main__email {
    display: block;
    font-weight: 700;
    margin-top: 10px;
}
@media screen and (max-width: 480px) {
    .main__title {
        font-size: 1.6rem;
    }
}